@import "bourbon/bourbon";

$sans-serif: 'Helvetica Neue', Helvetica, sans-serif;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $sans-serif;
}

.pane {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.go-back-link {
  display: block;
}

#starting-pane {
  display: block;
  table {
    width: 100%;
    height: 100%;

    button {
      width: 100%;
      height: 100%;
      font-size: 36px;
      font-family: inherit;
      font-weight: bold;
    }
  }
}

.midi-iframe {
  position: absolute;
  top: -666px;
  left: -666px;
  width: 200px;
  height: 200px;
}

#piano-keyboard {
  border: 0;
  padding: 0;
  width: 100%;
  height: 500px;
}

